/* Fonts Family */
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.titulo-faq {
  text-align: center;
  margin-top: 15px;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #1B9F90;
  border: 1px solid #1B9F90;
}

.Question {
  background-color: #FEFEFE;
  border: 1px solid #424242;
  color: #424242;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 600px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.Answer {
  background-color: #FEFEFE;
  color: #424242;
  border: 1px solid #424242;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 600px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-bottom: 20px;
}
